
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    color: #333;
    padding: 20px;
    box-sizing: border-box;
    overflow: auto;
    position: relative;
    
}

.container div {
    border: 1px solid gray;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;

}

.container input,button {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s;
    
}