<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="public/styles/style.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="container">
        {{> nav}}

        <div class="header_section text-center">
            <h1>We Are Fullstack Web Developer & Mentor</h1>
            <p>I design and code beautifully simple things, and I love what I do.</p>
            <img src="public/images/code-of-conduct.png" alt="hero">
        </div>

        <div class="hero_section" id="home">
            <img src="public/images/hero-devices.svg" alt="hero image" width="500px">
            <div class="bg-primary p-5 text-center text-light">
                <h2>Hi, I’m Abhishek Kumar . Nice to meet you.</h2>
                <p>Since embarking on my journey as a college student three years ago, I've been learning web development 
                    through various online resources. I've collaborated with talented individuals on projects, 
                    consulted with peers, and created digital solutions for a variety of problems. 
                    I'm quietly confident, naturally curious, and constantly working on enhancing my 
                    skills one coding challenge at a time. 😊</p>
            </div>
        </div>
        <div class="row card_state">
            <div class="col-12 col-md-4 col-lg-4 mt-5">
                <div class="card border-0 p-5 shadow">
                    <div class="card-header bg-white border-0">
                        <i class="fa fa-code"></i>
                    </div>
                    <div class="card-title text-center">
                        <h4>Frontend Developement</h4>
                        <p>I find joy in crafting code from the ground up, and take 
                            pleasure in transforming concepts into reality 
                            through web development.</p>
                    </div>

                    <div class="card-body text-center">
                        <h5 class="text-primary">Languages</h5>
                        <p>HTML,CSS, JavaScript, Angular ,TypeScript</p>
                        <hr class="mb-4">
                        <h6 class="text-primary">Dev Tools:</h6>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">VS Code</li>
                            <li class="list-group-item">J Query</li>
                            
                            <li class="list-group-item">Bootstrap</li>
                            <li class="list-group-item">React</li>
                            
                            <li class="list-group-item">Terminal</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-4 mt-5">
                <div class="card border-0 p-5 shadow">
                    <div class="card-header bg-white border-0">
                        <i class="fa fa-code"></i>
                    </div>
                    <div class="card-title text-center">
                        <h4>BackEnd Developement</h4>
                        <p>I take delight in architecting systems from scratch, 
                            and find satisfaction in bringing abstract ideas 
                            to life through backend development.</p>
                    </div>

                    <div class="card-body text-center">
                        <h5 class="text-primary">Languages I speak:</h5>
                        <p>Python , Ruby , JavaScript , Java ,PHP, GO</p>
                        <hr class="mb-4">
                        <h6 class="text-primary">Dev Tools:</h6>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Django</li>
                            <li class="list-group-item">MongoDB</li>
                            <li class="list-group-item">Express JS</li>
                            <li class="list-group-item">Node JS</li>
                            <li class="list-group-item">Docker</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-4 mt-5">
                <div class="card border-0 p-5 shadow">
                    <div class="card-header bg-white border-0">
                        <i class="fa fa-code"></i>
                    </div>
                    <div class="card-title text-center">
                        <h4>App Developement</h4>
                        <p>App development is not just about coding, it’s about creating an experience, 
                            solving a problem, and bringing visions to life. It’s a journey filled with 
                            challenges . </p>
                    </div>

                    <div class="card-body text-center">
                        <h5 class="text-primary">Languages</h5>
                        <p>Swift , Java , Kotlin, Dart ,Flutter</p>
                        <hr class="mb-4">
                        <h6 class="text-primary">Dev Tools:</h6>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Swift</li>
                            <li class="list-group-item">React Native</li>
                            <li class="list-group-item">Bootstrap</li>
                            <li class="list-group-item">Android Studio</li>
                            <li class="list-group-item">Kotlin</li>
                            <li class="list-group-item">Unity</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="service text-center" id="service">
            <h2>Our Service</h2>
            <p>"Empowering your digital journey with innovative and efficient 
                web solutions tailored to your needs."  </p>
            <div class="row">
                <div class="col-12 col-md-4 col-lg-4 mt-5">
                    <div class="card border-0 p-5 shadow">
                        <div class="card-header bg-white border-0">
                            <img class="img-fluid" src="public/images/appdev.png" alt="">
                        </div>
                        <div class="card-title text-center">
                            <h5>App Development</h5>
                            <p>"Experience the fusion of innovation and functionality with our app development services. 
                                We bring your ideas to life, creating seamless and intuitive mobile experiences that 
                                captivate users from the first click. Let's transform your vision into reality, one app
                                 at a time." </p>
                            <button type="button" class="btn btn-primary">learn More</button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-4 mt-5">
                    <div class="card border-0 p-5 shadow">
                        <div class="card-header bg-white border-0">
                            <img class="img-fluid" src="public/images/UIUX.png" alt="">
                        </div>
                        <div class="card-title text-center">
                            <h5>UI/UX Design</h5>
                            <p>"Experience the blend of aesthetics and functionality with our UI/UX design services.
                                 We craft intuitive and engaging digital experiences that captivate users from the
                                  first interaction. Our designs are not just visually appealing, but 
                                  also user-friendly and responsive." </p>
                            <button type="button" class="btn btn-primary">learn More</button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-4 mt-5">
                    <div class="card border-0 p-5 shadow">
                        <div class="card-header bg-white border-0">
                            <img class="img-fluid" src="public/images/UIUX.png" alt="">
                        </div>
                        <div class="card-title text-center">
                            <h5>API Development & Integration</h5>
                            <p>“Unlock the power of seamless connectivity with our API development and integration services.
                                 We design and build robust APIs that enable your applications to communicate effectively, 
                                 share data, and function harmoniously. Our expertise extends to integrating third-party APIs,
                                  ensuring your application stays connected</p>
                            <button type="button" class="btn btn-primary">learn More</button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-4 mt-5">
                    <div class="card border-0 p-5 shadow">
                        <div class="card-header bg-white border-0">
                            <img class="img-fluid" src="public/images/dbase.png" alt="">
                        </div>
                        <div class="card-title text-center">
                            <h5>Database Management</h5>
                            <p> xperience the power of organized data with our database management 
                                services. We design, implement, and manage databases that 
                                provide robust, scalable, and efficient data storage solutions. 
                                Our expertise spans across SQL and NoSQL technologies
                                 </p>
                            <button type="button" class="btn btn-primary">learn More</button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-4 mt-5">
                    <div class="card border-0 p-5 shadow">
                        <div class="card-header bg-white border-0">
                            <img class="img-fluid" src="public/images/appdevelopment.png" alt="">
                        </div>
                        <div class="card-title text-center">
                            <h5>Testing and Quality Assurance</h5>
                            <p>Experience the assurance of quality with our testing and quality assurance services.
                               We employ rigorous testing methodologies to ensure your applications function 
                               as expected, are reliable, and provide a seamless user experience.</p>
                            <button type="button" class="btn btn-primary">learn More</button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-4 mt-5">
                    <div class="card border-0 p-5 shadow">
                        <div class="card-header bg-white border-0">
                            <img class="img-fluid" src="public/images/webdevimage.png" alt="">
                        </div>
                        <div class="card-title text-center">
                            <h5>WEB Development</h5>
                            <p>Experience the power of the web with our web development services. 
                                We design and build dynamic, responsive, and user-friendly websites
                                 that meet your business needs. Our expertise 
                                 spans across various technologies.</p>
                            <button type="button" class="btn btn-primary">learn More</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="mt-5 mb-5">
        <div class="work_section">
            <h3>I'm proud to have collaborated with some awesome companies:</h3>
            <div class="row">
                <div class="col-6 col-md-4 col-lg-4 mt-5">
                    <img src="public/images/UpWork.jpeg" class="border" alt="">
                </div>
                <div class="col-6 col-md-4 col-lg-4 mt-5">
                    <img src="public/images/Devine.jpeg" class="border" alt="">
                </div>
                <div class="col-6 col-md-4 col-lg-4 mt-5">
                    <img src="public/images/itservice.jpeg" class="border" alt="">
                </div>
                <div class="col-6 col-md-4 col-lg-4 mt-5">
                    <img width="150" height="100" src="public/images/flexjobs.png" class="border" alt="">
                </div>
                <div class="col-6 col-md-4 col-lg-4 mt-5">
                    <img src="public/images/onepagecrm.jpeg" class="border" alt="">
                </div>
                <div class="col-6 col-md-4 col-lg-4 mt-5">
                    <img src="public/images/fitsmallbusiness.jpeg" class="border" alt="">
                </div>
            </div>
        </div>
        <hr class="mt-5 mb-5">

        <div class="contact_us" id="contact">
            <form method="POST" action="/contactdata">
                <h2 class="text-center">Contact Us</h2>
                <p class="text-center">Contact The Help Team</p>
                <div class="mb-3">
                    <label for="username" class="form-label">user name </label>
                    <input name="user" type="text" class="form-control" id="username">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input name="email" type="email" class="form-control" id="exampleInputEmail1"
                        aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="" class="mb-2">type your message here...</label>
                    <div class="form-floating">
                        <textarea name="msg" class="form-control" placeholder="Leave a comment here"
                            id="floatingTextarea2" style="height: 100px"></textarea>
                        <label for="floatingTextarea2">Comments</label>
                    </div>
                </div>
                <button name="submit" type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>

        <div class="footer bg-light" id="about">
            <img src="public/images/Designer.png" alt="logo">

            <h3>Living, learning, & leveling up one day at a time.</h3>

            <div class="social_icons">
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-instagram"></i></a>
                
            </div>
            <p>
                Handcrafted by @Abhishek Ray</p>
        </div>
    </div>
    <script src="js/bootstrap.min.js"></script>
</body>

</html>